allForms/Connected Services/Summator/Summator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Summator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISummator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISummator_AddToDb_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToDb" />
  </wsdl:message>
  <wsdl:message name="ISummator_AddToDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToDbResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="ISummator_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="ISummator_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_CheckNote_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNote" />
  </wsdl:message>
  <wsdl:message name="ISummator_CheckNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="ISummator_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_SearchWord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchWord" />
  </wsdl:message>
  <wsdl:message name="ISummator_SearchWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchWordResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_SelectNote_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectNote" />
  </wsdl:message>
  <wsdl:message name="ISummator_SelectNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="ISummator_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_InsertNote_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNote" />
  </wsdl:message>
  <wsdl:message name="ISummator_InsertNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_UpdateNote_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNote" />
  </wsdl:message>
  <wsdl:message name="ISummator_UpdateNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_allDateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:allDateUser" />
  </wsdl:message>
  <wsdl:message name="ISummator_allDateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:allDateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_GetAllUserHolidays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserHolidays" />
  </wsdl:message>
  <wsdl:message name="ISummator_GetAllUserHolidays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_InsertHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHoliday" />
  </wsdl:message>
  <wsdl:message name="ISummator_InsertHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="ISummator_UpdateHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHoliday" />
  </wsdl:message>
  <wsdl:message name="ISummator_UpdateHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHolidayResponse" />
  </wsdl:message>
  <wsdl:portType name="ISummator">
    <wsdl:operation name="AddToDb">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/AddToDb" message="tns:ISummator_AddToDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/AddToDbResponse" message="tns:ISummator_AddToDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/CheckUser" message="tns:ISummator_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/CheckUserResponse" message="tns:ISummator_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/GetUserId" message="tns:ISummator_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/GetUserIdResponse" message="tns:ISummator_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/CheckNote" message="tns:ISummator_CheckNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/CheckNoteResponse" message="tns:ISummator_CheckNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/Select" message="tns:ISummator_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/SelectResponse" message="tns:ISummator_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchWord">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/SearchWord" message="tns:ISummator_SearchWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/SearchWordResponse" message="tns:ISummator_SearchWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/SelectNote" message="tns:ISummator_SelectNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/SelectNoteResponse" message="tns:ISummator_SelectNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/DeleteNote" message="tns:ISummator_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/DeleteNoteResponse" message="tns:ISummator_DeleteNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/InsertNote" message="tns:ISummator_InsertNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/InsertNoteResponse" message="tns:ISummator_InsertNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/UpdateNote" message="tns:ISummator_UpdateNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/UpdateNoteResponse" message="tns:ISummator_UpdateNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allDateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/allDateUser" message="tns:ISummator_allDateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/allDateUserResponse" message="tns:ISummator_allDateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserHolidays">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/GetAllUserHolidays" message="tns:ISummator_GetAllUserHolidays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/GetAllUserHolidaysResponse" message="tns:ISummator_GetAllUserHolidays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/InsertHoliday" message="tns:ISummator_InsertHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/InsertHolidayResponse" message="tns:ISummator_InsertHoliday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/ISummator/UpdateHoliday" message="tns:ISummator_UpdateHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISummator/UpdateHolidayResponse" message="tns:ISummator_UpdateHoliday_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISummator" type="tns:ISummator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddToDb">
      <soap:operation soapAction="http://tempuri.org/ISummator/AddToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/ISummator/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/ISummator/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNote">
      <soap:operation soapAction="http://tempuri.org/ISummator/CheckNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/ISummator/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchWord">
      <soap:operation soapAction="http://tempuri.org/ISummator/SearchWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectNote">
      <soap:operation soapAction="http://tempuri.org/ISummator/SelectNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://tempuri.org/ISummator/DeleteNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNote">
      <soap:operation soapAction="http://tempuri.org/ISummator/InsertNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap:operation soapAction="http://tempuri.org/ISummator/UpdateNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allDateUser">
      <soap:operation soapAction="http://tempuri.org/ISummator/allDateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserHolidays">
      <soap:operation soapAction="http://tempuri.org/ISummator/GetAllUserHolidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHoliday">
      <soap:operation soapAction="http://tempuri.org/ISummator/InsertHoliday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHoliday">
      <soap:operation soapAction="http://tempuri.org/ISummator/UpdateHoliday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISummator" type="tns:ISummator">
    <wsp:PolicyReference URI="#NetTcpBinding_ISummator_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddToDb">
      <soap12:operation soapAction="http://tempuri.org/ISummator/AddToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://tempuri.org/ISummator/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap12:operation soapAction="http://tempuri.org/ISummator/GetUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNote">
      <soap12:operation soapAction="http://tempuri.org/ISummator/CheckNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/ISummator/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchWord">
      <soap12:operation soapAction="http://tempuri.org/ISummator/SearchWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectNote">
      <soap12:operation soapAction="http://tempuri.org/ISummator/SelectNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap12:operation soapAction="http://tempuri.org/ISummator/DeleteNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNote">
      <soap12:operation soapAction="http://tempuri.org/ISummator/InsertNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNote">
      <soap12:operation soapAction="http://tempuri.org/ISummator/UpdateNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allDateUser">
      <soap12:operation soapAction="http://tempuri.org/ISummator/allDateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserHolidays">
      <soap12:operation soapAction="http://tempuri.org/ISummator/GetAllUserHolidays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertHoliday">
      <soap12:operation soapAction="http://tempuri.org/ISummator/InsertHoliday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHoliday">
      <soap12:operation soapAction="http://tempuri.org/ISummator/UpdateHoliday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Summator">
    <wsdl:port name="BasicHttpBinding_ISummator" binding="tns:BasicHttpBinding_ISummator">
      <soap:address location="http://localhost:8080/Summator.Summator" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISummator" binding="tns:NetTcpBinding_ISummator">
      <soap12:address location="net.tcp://localhost:45617/Summator.Summator" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:45617/Summator.Summator</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-VRFDSCM\User</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>